.btn-custom-lg-red {
	border: thin solid red; 
	border-radius: 0px; 
	width: 100%; 
	text-transform: none; 
	padding:15px;"
}



.btn-custom-lg-blue {
	/*border: thin solid red; */
	border-radius: 0px; 
	width: 100%; 
	text-transform: none; 
	padding:15px;"
}

.no-border-radius {
	border-radius:0px;
}

.title {
	color:#000000; 
	font-weight:bold; 
	font-size:18px; 
	text-transform:capitalize;"
}


.post-body {
	color:#000000;
	font-family: verdana helvetica arial garamond;
	font-size: 14px;
}


.bg-white {
	background-color: #ffffff;
}

.bg-info {
	background-color: #edf3fe !important;
	/*background-color: lightblue !important;*/
}

.bg-success {
	background-color: #e7ffe1 !important;
	/*background-color: lightgreen !important;*/
}

.bg-error {
	background-color: red !important;
	color: #ffffff;
}

.bg-warning {
	background-color: orange !important;
}


.text-dark {
	color: #333 !important;
}

.text-white {
	color: #ffffff !important;
}

.text-justify {
	text-align: justify !important;
}

h4.heading {
	color: #428bca;
	text-transform: uppercase;
}

.pad-left-10 {
	padding-left: 10px;
}

.padding-10 {
	padding: 10px !important;
}


.box {
	min-height: 155px;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.box.has-advanced-upload {
	background-color:white;
	outline: 2px dashed black;
	outline-offset: -10px;
}

.box.has-advanced-upload .box__dragndrop {
	display: inline;
}



.box.is-dragover {
  background-color: #a0a0a0;
}


.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}


.box__button {
  display: none;
}
.no-js .box__button {
  display: block;
}

.hidden-file-input {
	width: 0.1px;
	height: 0.1px;
	z-index: -3;
	visibility: 0.1;
}

.active-file-label {
	cursor: pointer;
	text-align: center;
}


.payment-box {
	height: 165px;
	width: 100%;
	min-width: 225px;
	border-radius: 5px;
	cursor: pointer;
	padding:20px;
	background-color: hsla(195, 53%, 79%, 0.34);
	/*background-color: lightblue;*/
	margin:10px;
	border: 2px dashed #080008;
}

.payment-box:hover{
	border: 2px solid #a0a0a0;
}

.payment-box .thumbnail {
	max-width: 80px;
	max-height: 80px;
	left: 0px;
	top: 0px;
	position: relative;
	display: inline;
	margin-right: 5px;
}

.payment-box.selected {
	border: 2px solid green;
	background-color: lightgreen !important;
	color:  #ffffff !important;
}

.no-padding {
	padding: 0px !important;
}

.btn-mini {
	padding: 5px 10px;
	background-color: #012E5B;
	font-size: +1;
	cursor:pointer;
	color: #ffffff;
	font-family: verdana helvetica;
	margin:5px;
	border: solid thin #a0a0a0;
}

.btn-mini{
	background-color: #012E5D;
	color: #ffffff;

}

.reply-comment {
	padding: 10px;
	height: auto;
}


.current {
    color:#000000; 
    padding:3px 5px 3px 5px; 
    background-color:#c0c0c0; 
    border:solid thin #000000;
}
.page_nav {
    color:#000000; 
    padding:3px 5px 3px 5px; 
    border:solid thin #000000;
}



.custom-select-box {
	height: 75px;
	width: 205px;
	min-width: 105px;
	border-radius: 2px;
	cursor: pointer;
	padding: 25px 35px;
	background-color: #ffffff;
	margin:5px;
	border: 3px solid #a0a0a0;
	vertical-align: center;
	display: inline-block;
}

.custom-select-box-lg {
	height: 135px;
	width: 225px;
	min-height: 85;
	min-width: 105px;
	border-radius: 2px;
	cursor: pointer;
	padding: 50px;
	background-color: #ffffff;
	margin:5px;
	/*margin-top:5px;*/
	border: 3px solid #a0a0a0;
	vertical-align: center;
	display: inline-block;
}


/*.sector.custom-select-box-lg {
	height: 185px;
	width: 255px;
	min-height: 85;
	min-width: 105px;
	border-radius: 2px;
	cursor: pointer;
	padding: 30px;
	background-color: #ffffff;
	margin:5px;
	border: 3px solid #000000;
	vertical-align: center;
}*/

.sector {
	height: 175px !important;
	width: 225px !im;
	margin-bottom:25px;
	min-height: 85px;
	min-width: 105px;

}


.custom-select-box:hover,
.custom-select-box-lg:hover {
	border: 3px solid #e0e0e0;
}


.custom-select-box, .custom-select-box-lg strong {
	text-align: center;
	color:#000000;
	font-size: 30;
}


input[type="text"].custom-select-box,
p.custom-select-box  {
	height: 55px;
	width: 85px;
	min-width: 65px;
	border-radius: 0px;
	cursor: default;
	padding: 15px 25px;
	background-color: #ffffff;
	font-size: 5;
	border: 3px solid #a0a0a0;
	font-weight: bold;
	color: #000000;
	vertical-align: center;
	display: inline-block;
}

p.custom-select-box {
	cursor: pointer !important;
}


.custom-select-box .thumbnail {
	max-width: 80px;
	max-height: 80px;
	left: 0px;
	top: 0px;
	position: relative;
	display: inline;
	margin-right: 5px;
}


.custom-select-box.selected,
.custom-select-box-lg.selected {
	border: 2px solid green;
	background-color: lightgreen !important;
	color:  #ffffff !important;

}


.btn-custom {
	width: auto;
	min-width: 100px;
	height: 25px;
	max-height: 25px;
	min-height: 20px;
	padding: 2px 8px;
	color: #ffffff;
	border-radius: 5px !important;
	border: thin solid #ffffff;
}

a.btn-custom {
	text-align: center;
	font-weight: bold;
	/*color: #000000 !important;*/
	/*text-shadow: 1px 1px #e0e0e0;*/
}

.btn-orange {
	background-color: #ffa500;
	color: #ffffff;
}


a.btn-orange:hover {
	background-color: #ffa500;
	color: #e0e0e0 !important;
	/*text-shadow: 1px 1px #a0a0a0;*/
}

.border-rounded-white {
	border: thin solid #ffffff;
	border-radius: 5px;
	color: #ffffff !important;
	font-weight: normal !important;
}



a.border-rounded-white:hover {
	color: #a0a0a0 !important;
}



ul.navbar-nav > li > a{
   color: #fff;
   text-rendering: optimizeLegibility;
   /*font-weight: 600;*/
   font-size: 17px;
   margin: -2px 0 0;
   line-height: 25px;
   padding: 20px 0;
   font-family: 'Dosis', sans-serif;
   /*font-family: 'Roboto Condensed', sans-serif;*/
}

.phone {
	font-size:  22px;
	color: #2aecaf;
	font-weight: normal;
	line-height: 15px;

}

/*ul.navbar-nav > li > a i{
	font-weight: 600;
}


.dropdown-submenu:hover>.dropdown-menu {
    display: none;
}*/

.feature-tile-sm {
	height: 250px;
	width: 250px;
	min-height:  200px;
	min-width: 200px;
	border: thin solid #e0e0e0;
	border-radius: 0px;
	margin: 7.5px;
	padding:0px;

	/*box-shadow: -2px -2px 3px #a0a0a0;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	/*-webkit-box-shadow: 3px 0px 5px 0px rgba(163, 163, 163, 0.75);
	-moz-box-shadow:    3px 0px 5px 0px rgba(163, 163, 163, 0.75);
	box-shadow:         3px 0px 5px 0px rgba(163, 163, 163, 0.75);*/
}


.feature-tile-lg {
	height: 520px;
	/*height: 580px;*/
	width: 260px;
	min-height:  200px;
	min-width: 200px;
	border: thin solid #e0e0e0;
	border-radius: 0px;
	margin: 7.5px;
	padding:0px;
	/*box-shadow: -2px -2px 3px #a0a0a0;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




img.feature-img-sm  {
	height: 250px;
	width: 250px;
	min-height:  200px;
	min-width: 200px;

}

img.feature-img-lg {
	height: 520px;
	/*height: 580px;*/
	width: 260px;
	min-height:  200px;
	min-width: 200px;

}


.feature-tile-sm:hover,
.feature-tile-sm:focus,
img.feature-img-sm:hover,
img.feature-img-sm:focus {
	width: 260px;
	height: 265px;
	margin: 0px;

	-webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    opacity: 1;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
}


img.feature-img-lg:hover,
img.feature-img-lg:focus,
.feature-tile-lg:hover,
.feature-tile-lg:focus {
	margin:0px;
	width: 275px;
	height:535px;

	-webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    opacity: 1;
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);

}


.view-feature-detail {
	width: 250px;
	height: 50px;
	/*border: thin solid #000000;*/
	bottom: 0px;
	padding: 10px;
	font-weight: bold;
	margin: 7.5px;

}


.view-feature-detail-lg {
	width: 260px;
	height: 50px;
	/*border: thin solid #000000;*/
	bottom: 0px;
	padding: 10px;
	font-weight: bold;
	margin: 7.5px;

}

.search {
	width: 35px;
	height: 35px;
	color: #000008;
	text-shadow: 1px 2px #e0e0e0;
	cursor: pointer;
	/*background-color: rgba(253, 165, 4, 0.5);*/
	vertical-align: center; 
	border-radius: 4px !important;
	/*background-image: url('easypr/images/slider-main/bg1.jpg' background-size:cover;);*/
	background: rgba(253, 165, 4, 0.7) url(../static/easypr/images/slider-main/bg1.jpg) no-repeat 20px 50% !important;
	padding: 5px;
}



.search-box {
	position:fixed; 
	right: 20px; 
	top:120px; 
	z-index:100; 
	height:105px; 
	padding: 20px;
	background-color:#ffffff;
}

.animate-div {
	-webkit-transition: 2000ms;
    -moz-transition: 2000ms;
    -o-transition: 2000ms;
    transition: 2000ms;
    opacity: 1;
    /*-webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);*/
}



.btn-orange-lg {
	padding: 10px 75px;
	border: 2px solid #222222 !important;
	color: #333333 !important;
	/*word-spacing: 5px;*/
	/*font-weight: bold;*/
	line-height: 25px;
	font-size: 18px;
	font-family: arial;

}


.btn-orange-lg:hover 
.btn-orange-lg:focus {
	background-color:  #555555 !important;
	color: #ffffff !important;

}


.news-box {
	padding:10px !important;
	position: relative relative;
	display: inline;
	clear: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 0px;
}



.dashboard {
	max-height:  650px;
	/*overflow-y: scroll;*/
}

.dashboard .left-nav {
	/*background-color: #012e5b !important;*/
	background-color: #ffffff !important;
	position: relative;
	left:0px;
	top: 0px;
	bottom: 0px;
	width:255px;
	padding-top:10px;
	padding-bottom:10px;
	/*overflow-y:scroll;*/
	/*box-shadow: 2px 2px 2px #e8e8e8;*/
}



.dashboard .left-nav  ul li {
	line-height:  25px;
	border-top: thin solid #e8e8e8;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:20px;
}

.dashboard .left-nav  ul li:last-child {
	border-bottom: thin solid #e8e8e8;
	list-style-type: none;
}

.dashboard .left-nav ul li:before {
	content: " ";
}

.dashboard .left-nav  ul li > a {
	height:  100%;
	width:100%;
	color: #222222;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	
}

.dashboard .left-nav  ul li a:hover,
.dashboard .left-nav  ul li a:active,
.dashboard .left-nav  ul li a:focus,
.dashboard .left-nav  ul li:hover {
	background-color: #e8e8e8;
	/*background-color: #ffa500;*/
}


.dashboard .inner-content {
	overflow-y: scroll;
	background-color: #ffffff;
	max-height:  750px;
}























