.btn-custom-lg-red {
	border: thin solid red; 
	border-radius: 0px; 
	width: 100%; 
	text-transform: none; 
	padding:15px;"
}


.btn-custom-lg-blue {
	/*border: thin solid red; */
	border-radius: 0px; 
	width: 100%; 
	text-transform: none; 
	padding:15px;"
}