{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock title %}



{% block inner_content %}


	<section id="main-container" class="main-container">
		<div class="container">
			<div class="dashboard">
				<div class="row">
					<div class="col-md-3">
						<h5>DASHBOARD</h5>
						<div class="left-nav no-border-radius">
							<ul class = "unstyled">
								<li><i class="fa fa-clipboard" aria-hidden="true"></i> &nbsp; <a href="#">Newsroom</a></li>
								<li><a href="#">item 1</a></li>
								<li><a href="#">item 1</a></li>
								<li><a href="#">item 1</a></li>
								
							</ul>
						</div>
					</div>
					


						<div class="panel panel-warning">
							<div class="panel-heading"> <strong>Section Title </strong></div>

							<div class="panel-body">
								<div class="col-md-9 inner-content">
						<!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"> -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->

							<div class="post">
								<div class="post-media post-image">
									<img src="images/news/news1.jpg" class="img-responsive" alt="">
									<span class="post-meta-date"><i class="fa fa fa-clock-o"></i> June 14, 2016</span>
								</div>

								<div class="post-body">
									<div class="entry-header">
							 			<div class="post-meta">
											<span class="post-author">
		   									Posted By <a href="#">Admin</a>
		   								</span>
											<span class="post-cat">
		   									Posted In: <a href="#">Investment, Policy</a>
		   								</span>
											<span class="post-comment">03<a href="#" class="comments-link">Comments</a></span>
										</div>
										<h2 class="entry-title">
							 				<a href="#">Toyota Dumps Prius Inventory as Sales Collapse</a>
							 			</h2>
									</div><!-- header end -->

									<div class="entry-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  ...</p>
									</div>

									<div class="post-footer">
										<a href="news-single.html" class="btn btn-primary">Continue Reading</a>
									</div>

								</div><!-- post-body end -->
							</div><!-- 1st post end -->
						<!-- </div> -->


					</div>
					</div>
				</div>
					<!-- <div class="col-md-1"></div> -->
				</div><!-- Main row end -->
			</div>
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->



{% endblock inner_content %}
