{% extends 'easypr_general/base.html' %}
{% load staticfiles %}
{% block title %}content upload section{% endblock title %}

{% block inner_content %}
	<div id="banner-area" class="banner-area" style="background-image:url({% static 'easypr/images/banner/banner1.jpg' %}); height:100px !important;">
		<div class="banner-text">
     		<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12 text-center">
	        			<div class="banner-heading">
	        				<h1 class="banner-title title-border-left">Content Upload Section</h1>
	        				<!-- <p class="banner-desc">caption here</p> -->
	        			</div>
	        		</div><!-- Col end -->
	        	</div><!-- Row end -->
       		</div><!-- Container end -->
    	</div><!-- Banner text end -->
	</div><!-- Banner area end --> 
	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">
				<form action = "" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="col-md-1"></div>
					<!-- content upload panel -->
					<div class="col-md-10 sticky-page bg-white">
						<div>
							<!-- <h3>Content Upload Section</h3> -->
						</div>
						<div class="well well-default no-border-radius" role = "Public alert">
							<span class="text-danger">
								<strong>PLEASE NOTE:</strong>
							</span>
							<br/>
							<span class="text-primary" style="font-size:16px;"> Content publication on selected media .... <br/>See 
								<!-- <a href="{% url 'general:how-it-works' %}" target="blank" style="cursor:pointer">How It Works</a></span> -->
							<a onclick = 'window.open("{% url 'general:how-it-works' %}", "How It Works", "width=750,height=700,scrollbars=yes,menubar=yes,status=yes,top=10,location=false")' class="btn yellow view_label" >How It Works</a>
						</div>
						<!-- content upload form div -->
						<div class="well well-default no-border-radius">
							{{ form.post_title }}
						</div>
						<div class="well well-default no-border-radius" style="color:#000000;">
							<strong>UPLOAD IMAGES</strong><hr style ="margin-top:2px;"/>
							<div class="row" role="file-upload and title section">
								<div class="col-sm-3">
									{% include 'snippets/file_upload.html' with file_id="image_1" %}
								</div>
								<div class="col-sm-3">
									{% include 'snippets/file_upload.html' with file_id="image_2" %}
								</div>
								<div class="col-sm-3">
									{% include 'snippets/file_upload.html' with file_id="image_3" %}
								</div>
								<div class="col-sm-3">
									{% include 'snippets/file_upload.html' with file_id="image_4" %}
								</div>
							</div>
						</div>
						
						<div class="well well-default no-border-radius" style="color:#000000;" role = "title">
							<div class="row">
								<div class="col-md-6">
									<table class="">
										<tbody>
											<tr>
												<td><strong>Selected Category:</strong></td>
												<td><strong class="text-danger">{{ package.category|title }}</strong></td>
											</tr>
											<tr>
												<td><strong>Platform:</strong></strong></td>
												<td>
													<select name="platform" class="form-control bg-white no-border-radius" id="id_media_platform" placeholder="media platform" onchange = 'return fetch_media("id_media_platform", "selected_media")' required>
														<option value = "">select</option>
														{% for platform in platforms %}
															<option value = "{{ platform.pk }}" >{{ platform.name }}</option>
														{% endfor %}
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>Sector</strong></td>
												<td>
													<select name = "sector" class="form-control bg-white no-border-radius" id="id_sector" placeholder ="Sector"required>
														<option value="">select</option>
														{% for sector in sectors %}
															<option value = "{{ sector.pk }}">{{ sector.name }}</option>
														{% endfor %}
													</select>
												</td>
											</tr>
											<tr>
												<td><strong>Person to quote:</strong></td>
												<td>
													{{ form.person_to_quote }}
												</td>
											</tr>
											<tr>
												<td><strong>Position:</strong></td>
												<td>{{ form.persons_position }}</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="col-md-6 hidden" id ="id-select-media">
									<strong> Select Media</strong><br/>
									<div id="selected_media" class="bg-white item-display-box text-dark">
										<!-- ajax populated media list -->
									</div>
									<br/>
									<span class="text-danger">
										Max Allowed: {{ package.media_outreach_credit }} med{{ package.media_outreach_credit|pluralize:"ium,ia" }} 
										<input type="hidden" name="max_media_credit" value ="{{ package.media_outreach_credit }}" id = "max-media-credit" />
										<a href="{{ previous_page }}" >Change</a>
									</span>
								</div>
							</div>
							<p> &nbsp; </p>
							<div class="row">
								<div class="col-md-12">
									{{ form.post_body }}
									<span class="text-danger pull-right">
										{{ form.post_body.max_length }}
										1000 characters 
									</span>
									<br/>
									<input type ="submit" value = "proceed" onclick='return countSelectedMedia()' class="btn btn-primary pull-right" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
				</form>
			</div><!-- Content row -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->
{% endblock inner_content %}


{% block inline_scripts %}
<script>
	function fetch_media(select_input_id, div_to_populate){	
		$("#" + div_to_populate).html('<option value="" style="color:green;">Fetching media ...</option>');
		var platform      = $("#" + select_input_id).find(':selected').attr('value');
		if (platform.length == 0){
			alert ('select a media platform');
			return false;
		}
		var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
		function csrfSafeMethod(method){
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			beforeSend: function(xhr, settings){
				if (!csrfSafeMethod(settings.type) && !this.crossDomain){
					xhr.setRequestHeader("X-CSRFToken", csrf_token);
				}
			}
		});
		$.ajax({
			url: "{% url 'easypr_ng:get-media-houses' %}",
			type: "POST",
			data: {media_platform: platform, csrfmiddlewaretoken: csrf_token},
			success: function(data){
				$("#id-select-media").removeClass('hidden');
				$("#" + div_to_populate).html(data);
			},
			error: function(data){
				$("#" + div_to_populate).html('<option value="" style="color:#6734ee;">An error occured while fetching media! Please reload the page.</option>');	
			}
		})
	}


	var checkbox = document.getElementByClassName('selected_media_houses');
	alert(checkbox.length);
</script>




<script>
	function countSelectedMedia(){
	  var max_media   =    $("#max-media-credit").val();
      var selected_media_houses = $(".selected-media-houses").find(":checked").length;
  
}
</script>

{% endblock inline_scripts %}




















