{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}content upload section{% endblock title %}
{% block inner_content %}
	<section id="main-container" class="main-container">
		<form action="" method="post">
		{% csrf_token %}
		<div class="container">
			<div class="row">
				<!-- <h3>Payment</h3> -->
				<!-- <hr style="margin:0px;" /> -->
				<div class="col-md-9" style="color:#000000;">

					<div class="well well-default no-border-radius">
						<h4>Summary </h4>
						<hr style="margin-top:5px;" />
						<div class="row">
							<div class="col-md-6 bg-danger">
							</div>
							<div class="col-md-6 bg-danger" style="background-color:lightblue; padding:15px; border-radius:5px;">
								<!-- <div><strong>Press Material</strong> <span class="pull-right">{{ post.press_material }}</span></div> -->
								<div><strong>Bouquet:</strong><span class="pull-right">{{ pay_info.bouquet }}</span></div>
								<div><strong>Number of Media:</strong><span class="pull-right">{{ pay_info.bouquet.num_of_media }}</span></div>
								<div><strong>Price per Medium:</strong><span class="pull-right"> $ {{ pay_info.bouquet.price_per_media_N }}</span></div>
								<div><strong>VAT:</strong><span class="pull-right"> ${{ pay_info.bouquet.price_per_media_N }}</span></div>
								<div><strong>Percentage Savings:</strong><span class="pull-right">$ {{ pay_info.bouquet.percentage_savings }}</span></div>
								<hr style="margin-bottom: 10px;"/>
								<div><strong>Total Amount Payable: </strong><span class="pull-right">$ {{ pay_info.bouquet.amount_payable_N }}</span> </div>
							</div>
						</div>
					</div>

					<div class="well well-default no-border-radius bg-white">
						<h4>Select Payment Option </h4>
						<hr style="margin:2px;" />
						<div class="row">
							<div class="col-md-6">
								<div class="payment-box" id="debit_card" onclick='return select_payment("debit_card");'>
									<img class="thumbnail" src="{% static 'easypr/images/payment/visa.png' %}" alt="Easypr Nigeria" />
									<img class="thumbnail" src="{% static 'easypr/images/payment/verve.png' %}" alt="Easypr Nigeria" />
									<img class="thumbnail" src="{% static 'easypr/images/payment/mastercard.png' %}" alt="Easypr Nigeria" />
									<input type="checkbox" class="hidden" name="payment-type" id="check_debit_card"/>
									<div class="text-center pull-right">
										<h4>Pay with debit card</h4>

									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="payment-box" id = "bank_deposit" onclick='return select_payment("bank_deposit");'>
									<!-- <img class="thumbnail" src="{% static 'easypr/images/payment/visa.png' %}" alt="Easypr Nigeria" /> -->
									<input type="checkbox" class="hidden" name="payment-type" id="check_bank_deposit" />
									<div class="text-center">
										<h4>Pay directly into our bank account</h4>
										<strong class="text-danger text-center">(For clients in Nigeria Only)</strong><br/>
										<small class="text-dark text-center">Enter details in the form provided below</small>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="payment-box" id = "bank_transfer" onclick='return select_payment("bank_transfer");'>
									<!-- <img class="thumbnail" src="{% static 'easypr/images/payment/visa.png' %}" alt="Easypr Nigeria" /> -->
									<input type="checkbox" class="hidden" name="payment-type" id="check_bank_transfer"/>
									<div class="text-center">
										<h4>Pay with bank transfer</h4>
										<small class="text-dark text-center">Enter details in the form provided below</small>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<!-- <div class="payment-box" id = "ewallet" onclick='return select_payment("ewallet");'>
									<input type="checkbox"  class="hidden" name="payment-type" id="check_ewallet" />
								</div> -->
							</div>
						</div>
					</div>

					<div class="row hidden" id="pay-details">
						<div class="col-md-6" style="background-color: lightblue;">
							<h5> Enter Payment Details </h5><hr style="margin-top:20px;"/>
							<div class="row">
								<div class="col-md-4">
									<strong>Teller Number: </strong>
								</div>							
								<div class="col-md-8">
									<input class="form-control no-border-radius bg-white" type="text" name="teller_number" />
									<!-- <input class="form-control no-border-radius bg-white" value={{ post.transaction_id }} type="text" name="ref_id" /> -->
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<strong>Bank: </strong>
								</div>							
								<div class="col-md-8">
									<select class="form-control no-border-radius bg-white" name="bank">
										<option value="diamond bank">Diamond Bank</option>
										<option value="gtb">Guarantee Trust Bank</option>
									</select>
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<strong>Amount Paid: </strong>
								</div>							
								<div class="col-md-8">
									<input class="form-control no-border-radius bg-white" type="number" name="amount" />
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<strong>Date Paid: </strong>
								</div>							
								<div class="col-md-8">
									<input class="form-control no-border-radius bg-white" type="date" name="amount" />
								</div>
							</div>
							<br/>
							<div class="row">
								<div class="col-md-4">
									<!-- <strong>Date Paid: </strong> -->
								</div>							
								<div class="col-md-8">
									<input type="submit" class="btn btn-success pull-right" onclick='this.form.action = {% url "easypr_ng:save-pay-info" transaction_id=post.transaction_id %}' value="Save Payment"/>
								</div>
							</div>
							<br/>
						</div>

					</div>



					<hr/>
					<div class="row no-border-radius bg-white">
						<a href="#" class="btn btn-primary pull-right" > Proceed </a>
						<a href="" class="btn btn-primary pull-left"> Back </a>
					</div>


				</div>
				<div class="col-md-3">
					
				</div>
			</div><!-- Content row -->
		</div><!-- Conatiner end -->
	</form>
</section><!-- Main container end -->
	
{% endblock inner_content %}

{% block inline_scripts %}

{% endblock inline_scripts %}



















