{% extends 'easypr_general/base.html' %}
{% load staticfiles %}
{% load base_custom_filters %}
{% load humanize %}

{% block title %}choose a {{ service_type }} plan {% endblock title %}
{% block inner_content %}
	<div id="banner-area" class="banner-area" style="background-image:url({% static 'easypr/images/banner/banner2.jpg' %})">
		<div class="banner-text">
     		<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12 text-center">
	        			<div class="banner-heading">
	        				<h1 class="banner-title title-border-left">{{ press_material.caption|title }}</h1>
	        				<!-- <p class="banner-desc">caption here</p> -->
	        			</div>
	        		</div><!-- Col end -->
	        	</div><!-- Row end -->
       		</div><!-- Container end -->
    	</div><!-- Banner text end -->
	</div><!-- Banner area end --> 

	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12 sticky-page bg-white">
					<h2 class="error-code"> Choose the plan that suits you</h2>
					<div class="gap-20"></div>
					<table class="table table-striped">
						<thead>
							<th class="no-border text-dark">Features</th>
							{% for plan in plan_names %}
								{% if plan == "regular" %}
									<th class="text-center active-plan">
										<i class="fa fa-star" style="color:yellow; font-size: 24px;"></i> &nbsp; 
										{{ plan|strip_chars:"-"|title }}
									</th>
								{% else %}
									<th class="text-center normal-plan">{{ plan|strip_chars:"-"|title }}</th>
								{% endif %}
							{% endfor %}
						</thead>
						<tbody>
							{% for item in pkg_dict %}
								{% for key,val in item.items %}
									<tr  class="item-row">
										<td class="text-left row-caption">{{ key|strip_chars:"_"|title }} </td>
										{% for value in val %}
											{% if value == "yes" %}
												<td><i class="fa fa-check text-success"></i></td>
											{% elif value == "no" %}
												<td><i class="fa fa-times text-danger"></i></td>
											{% else %}
												{% if key == "price_naira" %}
													<td><strong class="text-success"> &#8358;{{ value|floatformat:0|intcomma }}</strong></i></td>
												{% elif key == "price_dollar" %}
													<td><strong class="text-danger"> ${{ value|floatformat:0|intcomma }}</strong></i></td>
												{% else %}
													<td><strong class="text-success">{{ value }}</strong></i></td>
												{% endif %}
											{% endif %}
										{% endfor %}
									</tr>
								{% endfor %}
							{% endfor %}
							<tr>
								<td class="row-caption">&nbsp;</td>
								{% for plan in plan_names %}
									<td class="buy-now"><a href="{% url 'easypr_ng:buy-package' press_material.name_slug plan %}"> buy now</a></td>
								{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
			</div><!-- Main row end -->
			<!-- <div class="gap-30"></div> -->
			<div class="row">
				<div class="col-md-12 text-center">
					<a href="{% url 'easypr_ng:strategy-planner-intro' %}" class="slider btn btn-easypr bg-royal" style="font-size:20px;">Still Not Sure? Find The Right Strategy For Your Brand.</a>
				</div>
			</div>
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->
{% endblock inner_content %}
