{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}media strategy planner{% endblock title %}



{% block inner_content %}

	<div id="banner-area" class="banner-area" style="background-image:url({% static 'easypr/images/banner/banner2.jpg' %})">
		<div class="banner-text">
     		<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12">
	        			<div class="banner-heading">
	        				<h1 class="banner-title title-border-left">EasyPR Planner</h1>
	        				<p class="banner-desc">We are a established fact that a reader  be distracted 
							by the reable content of a page when looking at its layout layout.</p>
	        			</div>
	        			<div class="text-center"> <h3><strong class="text-white">Step 1 of 7 </strong></h3></div>
	        			<!-- <div class="text-center"> <h3><strong>Step {{ step }} of {{ total_steps }}</strong></h3></div> -->
	        		</div><!-- Col end -->
	        	</div><!-- Row end -->
       	</div><!-- Container end -->
    	</div><!-- Banner text end -->
	</div><!-- Banner area end --> 


	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper">
				         	<img class="img-responsive" src="{% static 'easypr/images/services/content writing.png' %}" alt="easypr-services">
				      </div>
				      <div class="ts-service-info">
				      	<div class="ts-service-icon">
			          		<i class="fa fa-line-chart"></i>
			          		<h3><a href="#">Content Writing</a></h3>
			        		</div>
			        	</div><!-- Service info end -->

			      	<div class="ts-service-box-content">
				         <p>EasyPR boasts of one of the most competent content writing team in Africa with strategic affiliate partners of brand writers from different media across the three different markets that we operate in. Why not take advantage of our services today by reaching out to us for your marketing content including product reviews, institutional branding, support features, etc. </p>
				         <p>
				         	<!-- <a class="learn-more" href="#">
				         		<i class="fa fa-caret-right"></i> Learn More
                        </a>   -->      
                     </p>       
			      	</div>
				   </div><!-- Service1 end -->
				</div><!-- Col 1 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper">
				         	<img class="img-responsive" src="{% static 'easypr/images/services/press release.png' %}" alt="easypr-services">
				      </div>
				      <div class="ts-service-info">
				      	<div class="ts-service-icon">
			          		<i class="fa fa-money"></i>
			          		<h3><a href="#">Press Release Syndication</a></h3>
			        		</div>
			        	</div><!-- Service info end -->

			      	<div class="ts-service-box-content">
				         <p>Our services also entail writing press releases and syndicating to our vast network of contacts across the markets we operate in. We know the platforms that will sell that your product and when exactly that content should be placed. </p>
				         <p>
				         	<!-- <a class="learn-more" href="#">
				         		<i class="fa fa-caret-right"></i> Learn More
                        </a>  -->       
                     </p>       
			      	</div>
				   </div><!-- Service2 end -->
				</div><!-- Col 2 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper">
				         	<img class="img-responsive" src="{% static 'easypr/images/services/service3.jpg' %}" alt="">
				      </div>
				      <div class="ts-service-info">
				      	<div class="ts-service-icon">
			          		<i class="fa fa-calculator"></i>
			          		<h3><a href="#">Media Relations Consulting</a></h3>
			        		</div>
			        	</div><!-- Service info end -->

			      	<div class="ts-service-box-content">
				         <p>Today, growth in different media has produced the need for tailored and specialised handling of messages. Television, email, radio, print, social media name just a few of the areas companies have to be sure to have presence in.  <a href="" id = "more_3">more</a> 
				         <p class="hidden" id = "hidden_3">
				         	Each of these media requires specific strategies and methods for effective communication to increase brand awareness and reputation and to build a community with current clients.
				         	At Yadel Communications, we sit down with clients to discuss key messages and determine strategies for optimum exposure. Understanding the nature and inner workings of each medium enable us to choose the most suitable medium for every single situation. And so, it would not be a bad idea to consult us when looking to engage the media for that marketing campaign. <a href="" id = "less_3">less</a> </p>
				         <p>
				         	<!-- <a class="learn-more" href="#">
				         		<i class="fa fa-caret-right"></i> Learn More
                        </a>    -->     
                     </p>       
			      	</div>
				   </div><!-- Service3 end -->
				</div><!-- Col 3 end -->

				<div class="gap-30"></div>

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper">
				         	<img class="img-responsive" src="{% static 'easypr/images/services/service4.jpg' %}" alt="">
				      </div>
				      <div class="ts-service-info">
				      	<div class="ts-service-icon">
			          		<i class="fa fa-university"></i>
			          		<h3><a href="#">Brand Promotion</a></h3>
			        		</div>
			        	</div><!-- Service info end -->

			      	<div class="ts-service-box-content">
				         <p>create content for this</p>
				         <p>
				         	<!-- <a class="learn-more" href="#">
				         		<i class="fa fa-caret-right"></i> Learn More
                        	</a>   -->      
                     </p>       
			      	</div>
				   </div><!-- Service4 end -->
				</div><!-- Col 4 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper">
				         	<img class="img-responsive" src="{% static 'easypr/images/services/service5.jpg' %}" alt="">
				      </div>
				      <div class="ts-service-info">
				      	<div class="ts-service-icon">
			          		<i class="fa fa-briefcase"></i>
			          		<h3><a href="#">Digital Marketing</a></h3>
			        		</div>
			        	</div><!-- Service info end -->

			      	<div class="ts-service-box-content">
				         <p>create content for this</p>
				         <p>
				         	<!-- <a class="learn-more" href="#">
				         		<i class="fa fa-caret-right"></i> Learn More
                        </a>  -->       
                     </p>       
			      	</div>
				   </div><!-- Service5 end -->
				</div><!-- Col 5 end -->

				<div class="col-md-4">
				   <div class="ts-service-box">
				      <div class="ts-service-image-wrapper">
				         	<img class="img-responsive" src="{% static 'easypr/images/services/service6.jpg' %}" alt="">
				      </div>
				      <div class="ts-service-info">
				      	<div class="ts-service-icon">
			          		<i class="fa fa-umbrella"></i>
			          		<h3><a href="#">General Media Services</a></h3>
			        		</div>
			        	</div><!-- Service info end -->

			      	<div class="ts-service-box-content">
				         <p>EasyPR Nigeria is a media services company and as such we do not just restrict our activities to media relations. We also help clients plan and implement branding strategies. So do you need a hand in printing those branding materials, ... <a href="" id = "more_6">more</a> 
				         <p class="hidden " id="hidden_6"> and organise the product launch and activation, Yadel Communications’ services may just be what you need. We have got the best team to guarantee you aggressive and successful entry into the market. 
				         	<a href="" id = "less_6">less</a> </p>
				         <!-- <p> -->
				         	<!-- <a class="learn-more" href="#">
				         		<i class="fa fa-caret-right"></i> Learn More
                        	</a>  -->       
                     <!-- </p>        -->
			      	</div>
				   </div><!-- Service6 end -->
				</div><!-- Col 6 end -->
			</div><!-- Main row end -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->


	<!-- <section id="facts" class="facts no-padding">
		<div class="container">
			<div class="row">
					<div class="facts-wrapper">
						<div class="col-md-3 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-umbrella"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">3298</span></h2>
								<h3 class="ts-facts-title">Case Solved</h3>
							</div>
						</div> --><!-- Col end -->

						<!-- <div class="col-md-3 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-users"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">337</span></h2>
								<h3 class="ts-facts-title">Advisors</h3>
							</div>
						</div> --><!-- Col end -->

						<!-- <div class="col-md-3 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-bar-chart"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">2321</span></h2>
								<h3 class="ts-facts-title">Loan Processed</h3>
							</div>
						</div> --><!-- Col end -->

						<!-- <div class="col-md-3 ts-facts">
							<div class="ts-facts-icon">
								<i class="fa fa-globe"></i>
							</div>
							<div class="ts-facts-content">
								<h2 class="ts-facts-num"><span class="counterUp">109</span></h2>
								<h3 class="ts-facts-title">Locations</h3>
							</div>
						</div>
					</div> --> <!-- Facts end -->
			<!-- </div>/ Content row end  -->
		<!-- </div>/ Container end  -->
	<!-- </section>Facts end -->

	<section id="testimonial" class="testimonial">
		<div class="container">
			<div class="row text-center">
				<h3 class="title-border">
					We Give Trusts
					<span class="title-head">Testimonials</span>
				</h3>
			</div><!--/ Title row end -->

			<div class="row">
				<div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
				  <div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip commodo.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial1.png' %}" alt="testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Deslie Telley</span>
					         	<span class="quote-subtext">Manager</span>
				         	</div>
				         </div>
				     </div>
				  </div><!--/ Item 1 end -->

				   <div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi aliquip consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial2.png' %}" alt="testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Mavin Dixon</span>
					         	<span class="quote-subtext">Director</span>
				         	</div>
				         </div>
				     </div>
				  </div><!--/ Item 2 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial3.png' %}" alt="testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Minter Puchan</span>
					         	<span class="quote-subtext">Official</span>
				         	</div>
				         </div>
				     </div>
				  	</div><!--/ Item 3 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial4.png' %}" alt="easypr-testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Tian Gray</span>
					         	<span class="quote-subtext">Accountant</span>
				         	</div>
				         </div>
				     </div>
				  	</div><!--/ Item 4 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial5.png' %}" alt="easypr-easypr-testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Jeroge Tinker</span>
					         	<span class="quote-subtext">Official</span>
				         	</div>
				         </div>
				     </div>
				  	</div><!--/ Item 5 end -->
				</div><!--/ Testimonial carousel end-->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Testimonial end -->

	<section class="call-to-action no-padding bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="action-icon pull-left">
						<i class="fa fa-paper-plane-o"></i>
					</div>
					<div class="call-to-action-text">
						<h3 class="action-title">We will always help you to grow your business</h3>
						<p class="action-sub-title">Our mission is to provide you the highest quality of service and solution</p>
					</div>
					<div class="call-to-action-btn">
						<a class="btn btn-secondary" href="#">Get Quote</a>
						<a class="btn btn-primary btn-white" href="#">Read More</a>
					</div>
				</div>
			</div>
		</div><!--/ Container end -->
   </section><!-- Call to Action end -->


	<section id="partners-area" class="partners-area">
		<div class="container">
			<div class="row text-center">
				<h3 class="title-border">
					We Love Clients
					<span class="title-head">Our Clients</span>
				</h3>
			</div> <!-- Title row end -->

			<div class="row">
		      <div id="partners-carousel" class="col-sm-12 owl-carousel owl-theme text-center partners">
		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="{% static 'easypr/images/partners/logo1.jpg' %}" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="{% static 'easypr/images/partners/logo2.jpg' %}" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="{% static 'easypr/images/partners/logo3.jpg' %}" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="{% static 'easypr/images/partners/logo4.jpg' %}" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="{% static 'easypr/images/partners/logo5.jpg' %}" alt="client">
		          </a>
		        </figure>

		        <figure class="item partner-logo">
		          <a href="#">
		            <img class="img-responsive" src="{% static 'easypr/images/partners/logo6.jpg' %}" alt="client">
		          </a>
		        </figure>
		        
		      </div><!--/ Owl carousel end -->

	    	</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Partners end -->

{% endblock inner_content %}
