{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}Our Services{% endblock title %}



{% block inner_content %}
	<div id="banner-area" class="banner-area" style="background-image:url({% static 'easypr/images/banner/banner4.jpg' %})">
		<div class="banner-text">
     		<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12">
	        			<div class="banner-heading">
	        				<h1 class="banner-title title-border-left">Career</h1>
	        				<p class="banner-desc">We are a established fact that a reader  be distracted 
							by the reable content of a page when looking at its layout layout.</p>
	        			</div>
	        		</div><!-- Col end -->
	        	</div><!-- Row end -->
       	</div><!-- Container end -->
    	</div><!-- Banner text end -->
	</div><!-- Banner area end --> 


	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="sidebar sidebar-left">

						<div class="widget box solid">
							<h3 class="widget-title">How to Apply</h3>
							<p>Send your cv, relevant work experience and anything else that will make you stand out to career@azurex.com</p>
							<p><a class="btn btn-dark" href="#">Apply Now</a></p>

						</div>

						<div class="widget">
							<div class="quote-item classic-quote">
					         <span class="quote-text">
					           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					         </span>

					         <div class="quote-item-footer">
					         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial1.png' %}" alt="testimonial">
					         	<div class="quote-item-info">
					         		<span class="quote-author">Deslie Telley</span>
						         	<span class="quote-subtext">Manager</span>
					         	</div>
					         </div>
				     		</div><!-- Quote item end -->

						</div><!-- Widget end -->

					</div><!-- Sidebar end -->
				</div><!-- Sidebar Col end -->

				<div class="col-lg-9 col-md-9 col-sm-12">
					<div class="content-inner-page">

						<h2 class="title-border-left">Invest Manager</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nulla commodo iaculis ligula, ac dapibus quam ornare ut. Praesent ac hendrerit sem, et tempus sem. Donec sit amet elit a felis tristique eleifend. Aliquam erat volutpat. </p>

						<div class="gap-20"></div>

						<h3 class="title-border-left">Responsibilities</h3>
						<p>Nulla commodo iaculis ligula, ac dapibus quam ornare ut. Praesent ac hendrerit sem, et tempus sem. Donec sit amet elit a felis tristique eleifend. Aliquam erat volutpat.</p>

						<ul class="list-round">
							<li>Perform independent validations on important models across The Hartford’s lines of business</li>
							<li>Perform necessary work to validate significant changes on critical/important models</li>
							<li>Tend to repeat predefined chunks as necessary</li>
							<li>Soufflé pudding brownie pudding fruitcake</li>
							<li>Donec id elit non mi porta ut gravida at eget metus</li>
							<li>Duis mollis, est non commodo luctus</li>
							<li>The point of using Lorem Ipsum is thatl</li>
						</ul>

						<div class="gap-30"></div>

						<h3 class="title-border-left">Skills / Expertise</h3>

						<ul class="list-round">
							<li>Perform necessary work to validate significant changes on critical/important models</li>
							<li>Tend to repeat predefined chunks as necessary</li>
							<li>Soufflé pudding brownie pudding fruitcake</li>
							<li>Donec id elit non mi porta ut gravida at eget metus</li>
							<li>Duis mollis, est non commodo luctus</li>
							<li>The point of using Lorem Ipsum is thatl</li>
						</ul>

					</div><!-- Content inner end -->
				</div><!-- Content Col end -->


			</div><!-- Main row end -->
		</div><!-- Conatiner end -->
	</section><!-- Main container end -->

	<section class="call-to-action no-padding bg-overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="action-icon pull-left">
						<i class="fa fa-paper-plane-o"></i>
					</div>
					<div class="call-to-action-text">
						<h3 class="action-title">We will always help you to grow your business</h3>
						<p class="action-sub-title">Our mission is to provide you the highest quality of service and solution</p>
					</div>
					<div class="call-to-action-btn">
						<a class="btn btn-secondary" href="#">Get Quote</a>
						<a class="btn btn-primary btn-white" href="#">Read More</a>
					</div>
				</div>
			</div>
		</div><!--/ Container end -->
   </section><!-- Call to Action end -->
{% endblock inner_content %}





