{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}Frequently Asked Questions {% endblock title %}

{% block inner_content %}
	<div id="banner-area" class="banner-area" style="background-image:url({% static 'easypr/images/banner/banner1.jpg' %})">
			<div class="banner-text">
	     		<div class="container">
		        	<div class="row">
		        		<div class="col-xs-12">
		        			<div class="banner-heading">
		        				<h1 class="banner-title title-border-left">Faq</h1>
		        				<p class="banner-desc">We are a established fact that a reader  be distracted 
								by the reable content of a page when looking at its layout layout.</p>
		        			</div>
		        		</div><!-- Col end -->
		        	</div><!-- Row end -->
	       	</div><!-- Container end -->
	    	</div><!-- Banner text end -->
		</div><!-- Banner area end --> 


		<section id="main-container" class="main-container">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-3 col-sm-12">
						<div class="sidebar sidebar-left">

							<div class="widget">
								<h3 class="widget-title">Contact us</h3>

								<div class="contact-info-box">
								<i class="fa fa-map-marker">&nbsp;</i>
									<div class="contact-info-box-content">
										<h4>Visit Us</h4>
										<p>Azurex Complex, 761 Anthony St, NY 421 USA</p>
									</div>
								</div>

								<div class="contact-info-box">
									<i class="fa fa-envelope-o">&nbsp;</i>
									<div class="contact-info-box-content">
										<h4>Mail Us</h4>
										<p>query@azurex.com</p>
									</div>
								</div>

								<div class="contact-info-box">
									<i class="fa fa-phone">&nbsp;</i>
									<div class="contact-info-box-content">
										<h4>Call Us</h4>
										<p>+91 0331 3421 213</p>
									</div>
								</div>

							</div><!-- Widget end -->

							<div class="widget">
								<div class="quote-item classic-quote">
						         <span class="quote-text">
						           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						         </span>

						         <div class="quote-item-footer">
						         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial1.png' %}" alt="testimonial">
						         	<div class="quote-item-info">
						         		<span class="quote-author">Deslie Telley</span>
							         	<span class="quote-subtext">Manager</span>
						         	</div>
						         </div>
					     		</div><!-- Quote item end -->

							</div><!-- Widget end -->

						</div><!-- Sidebar end -->
					</div><!-- Sidebar Col end -->

					<div class="col-lg-9 col-md-9 col-sm-12">
						<div class="content-inner-page">

							<div class="panel-group" id="accordion">
			              	<div class="panel panel-default">
				                <div class="panel-heading">
					                <h4 class="panel-title"> 
					                	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										What type of industries does Azurex finance?</a> 
					                </h4>
				                </div>
				                <div id="collapseOne" class="panel-collapse collapse in">
				                  	<div class="panel-body">
				                    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
				                 	</div>
				                </div>
			              	</div><!--/ Panel 1 end-->

			              	<div class="panel panel-default">
				                <div class="panel-heading">
					                <h4 class="panel-title">
					                	<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> What are the characteristics of a typical client?</a>
					            	</h4>
				                </div>
				                <div id="collapseTwo" class="panel-collapse collapse">
				                  <div class="panel-body">
				                    <p>Tumblr photo booth normcore, Bushwick Brooklyn hella fixie YOLO locavore umami Shoreditch. 3 wolf moon selfies readymade slow-carb, 90's craft beer synth sustainable. Cras mattis dui ac elit sollicitudin, eu rutrum quam pharetra. Etiam consectetur nunc vitae nibh egestas scelerisque. Nam sed auctor eros, et euismod leo. Integer ut fringilla nunc. Donec eget lacus lobortis, aliquam nulla ultricies, cursus libero.</p>
				                  </div>
				                </div>
			              	</div><!--/ Panel 2 end-->

			              	<div class="panel panel-default">
				                <div class="panel-heading">
					                <h4 class="panel-title">
					                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree"> Does Azurex fund outstanding invoices, or only new ones?</a> 
					            	</h4>
				                </div>
				                <div id="collapseThree" class="panel-collapse collapse">
				                  <div class="panel-body">
				                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				                  </div>
				                </div>
			              	</div><!--/ Panel 3 end-->

			              	<div class="panel panel-default">
				                <div class="panel-heading">
					                <h4 class="panel-title">
					                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour"> What is the notification process?</a> 
					            	</h4>
				                </div>
				                <div id="collapseFour" class="panel-collapse collapse">
				                  <div class="panel-body">
				                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				                  </div>
				                </div>
			              	</div><!--/ Panel 4 end-->

			              	<div class="panel panel-default">
				                <div class="panel-heading">
					                <h4 class="panel-title">
					                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive"> Why would I choose to work with Azurex?</a> 
					            	</h4>
				                </div>
				                <div id="collapseFive" class="panel-collapse collapse">
				                  <div class="panel-body">
				                    <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
				                  </div>
				                </div>
			              	</div><!--/ Panel 5 end-->

			              	<div class="panel panel-default">
				                <div class="panel-heading">
					                <h4 class="panel-title">
					                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix"> What do I need to do to get started?</a> 
					            	</h4>
				                </div>
				                <div id="collapseSix" class="panel-collapse collapse">
				                  <div class="panel-body">
				                    <p><span class="list-icon pull-right"> <i class="fa fa-money"> </i></span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
				                    <a href="#">Read More</a>
				                  </div>
				                </div>
			              	</div><!--/ Panel 6 end-->


				         </div><!-- Accordion end -->

						</div><!-- Content inner end -->
					</div><!-- Content Col end -->


				</div><!-- Main row end -->
			</div><!-- Conatiner end -->
		</section><!-- Main container end -->

{% endblock inner_content %}
