{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}Reset password{% endblock title %}

{% block inner_content %}
<p> &nbsp; </p>
<p> &nbsp; </p>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-8">
			<!--  if messages %}
				 for msg in messages %}
					<h4 class= "text-{{ msg.tags }}">{{ msg }}</h4>
				 endfor %}
			endif %} -->
			<form name="pw-reset-form" method="post" action="{% if search_user %}{% url 'general:forgot-password' %}{% elif reset_pw %}{% url 'general:reset-password' code=reset_code %} {% endif %}">
				{% csrf_token %}
				{% if search_user %}
					{% if email  %}
						<p>
							<p class="text-primary">Enter your email address to request for password reset link</p>
						</p>
						<input class="form-control" value="{{email}}" type = "email" name="useremail" placeholder="Enter your email" required/>
					{% elif link_sent and not email %}
						<p> &nbsp; </p>
					{% else %}
						<p>
							<p class="text-primary">Enter your email address to request for password reset link</p>
						</p>
						<input class="form-control" type = "email" name="useremail" placeholder="Enter your email" required/>
					{% endif %}
					<input class="form-control" type = "hidden" name="action"  value="check_useremail" /><br/>

					{% if not link_sent %}
						<input type="submit" class="btn btn-primary pull-right" value="Send Request" onclick="this.form.submit()" />
					{% endif %}

				{% elif reset_pw %}
					<p>
						<p class="text-primary">RESET PASSWORD</p>
					</p>
					<input class="form-control" type = "password" name="password" id="new_password" placeholder="Enter a new password" required/><br/>
					<input class="form-control" type = "password" name="re-password" id="re_password" placeholder="Re Enter password" required onblur = 'return compare_passwords("new_password","re_password")'/><br/>
					<input type="submit" id="reset_pw" class="btn btn-primary pull-right" value="Reset Password" onclick = 'return compare_passwords("id_password","id_confirm_password")'/>
				{% endif %}
			</form>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
	</div>
	<div class="row">
		<div class="col-md-12"></div>
	</div>
</div>

<p> &nbsp; </p>
<p> &nbsp; </p>

{% endblock inner_content %}





{% block scripts %}
{% endblock scripts %}









