{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}News Room{% endblock title %}


{% block inner_content %}
  <!-- <header id="head" class="secondary"></header> -->
  <div class="gap-20"></div>

  <div class="container">
    <div class="row">
      <header class="page-header text-center">
        <h6 class="page-title">Sign up below, It's easy</h6>
      </header>
      <!-- form container -->
      <div class="col-md-6">
      <!-- <div class="col-md-6"> -->
        <div class="panel panel-default">
          <div class="panel-body">
            {% if messages %}
              {% for message in messages %}
                <h5 class="text-{{ msg.level_tag }}"> {{ message }} 
                </h5>
              {% endfor %}
            {% endif %}
              <form action="{% url 'general:sign_up' %}" method="post" class="" id="id_signup_form">
                {% csrf_token %}
                <span id= "user_details_form">
                  <input type="text" name="first_name" placeholder="First Name" class="form-control no-border-radius" required/><br/>
                  <input type="text" name="last_name" placeholder="Last Name" class="form-control no-border-radius" required/><br/>
                  <input type="email" name="email" placeholder="Email" class="form-control no-border-radius" required/><br/>
                  <input type="password" name="password" id="id_password" placeholder="Password" class="form-control no-border-radius" required/><br/>
                  <input type="password" name="confirm-password" id = "id_confirm_password" placeholder="Confirm Password" class="form-control no-border-radius" required onblur = 'return compare_passwords("id_password","id_confirm_password")'/><br/>
                  <div class="gap-20"></div>
                  <input type="submit" class="btn btn-primary btn-custom-lg-blue" id="id_signup" value="Sign Up" style="border-radius:0px; cursor:pointer;" onclick = 'return compare_passwords("id_password","id_confirm_password")'/> <br/>
              </form>
          </div>
          <div class="modal-footer">
            <span class="pull-left text-dark"> Already signed up? </span> 
            <a href="{% url 'general:login' %}" class="btn btn-default"> <i class="fa fa-user"> &nbsp; </i> Log in</a>
          </div>
        </div>
      </div>
      <!-- form container ends -->

      <!-- right panel begins -->
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-7">
            <div class="well well-default bg-white">
              <strong class="text-dark">Your free account includes:</strong>
              <ul class="text-primary unstyled">
                <li><i class="fa fa-check"></i> Magnify Your Message Accross The Web</li>
                <li><i class="fa fa-check"></i> Speedy Editorial Approval</li>
                <li><i class="fa fa-check"></i> Portfolio &amp; Performance Management</li>
                <li><i class="fa fa-check"></i> Customer Support</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="gap-20"></div>
        <div class="row">
          <div class="col-md-7">
            <div class="well well-default bg-white"> 
              <strong class="text-dark">Continue with:</strong>
              <div class="gap-10"></div>
              <a href="#" class="btn btn-primary btn-custom-lg-blue">Facebook </a>
              <div class="gap-10"></div>
              <a href="#" class="btn btn-danger btn-custom-lg-red">Google </a>
            </div>
          </div>
        </div>
      </div>
      <!-- right panel ends -->
    </div>    
  </div>  <!-- /container --> 

<div class="gap-20"></div>
{% endblock inner_content %}

