{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}Terms and Conditions{% endblock title %}
{% block inner_content %}
	<p> &nbsp; </p>
	<p> &nbsp; </p>
	<header id="head" class="secondary"></header>
	<div class="container">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div class="row">
				<article class="col-xs-12 maincontent">
					<h3> Terms and Conditions </h3>
				</article>
			</div>
			<div class="well well-info no-border-radius bg-white text-black">

				<p class="text-justify text-dark ">
					Please note that your press release is a Public Relations material. It is neither an advert nor a bad political or human angle story that deserves priority attention as an editorial content. So, your content will not be published immediately.
				</p>
				<h4 class="heading">Content size </h4>
				<p class="text-justify text-dark ">
					Your content may be a 400-word press release, 700-words feature or 1, 200 words interviews but we cannot guarantee that every word will be printed. The editor may edit some paragraphs out and both ideas and sequence of presentation may be rearranged to suit the platform’s editorial or house style. So, do not expect your content to be placed verbatim. 
				</p>
				<h4 class="heading">Placement page</h4>
				<p class="text-justify text-dark ">
					easyPR cannot predetermine which page your content will be placed since it is not an advertisement. However, you can be certain to have your content placed in a business section of a newspaper if the content is business related or be placed in the political section if its politics related. easyPR cannot influence your story to be published in the front page or any other page for that matter.
				</p> 
				<h4 class="heading">Company name in the headline</h4>
				<p class="text-justify text-dark ">
					We cannot guarantee that your company’s name will appear just the way we wrote it in the headline. Newspapers like to use popular brands in the headline, easyPR cannot be held liable for the removal of your company’s name from the headline of the content. 
				</p>
				<h4 class="heading">Monitoring publication</h4>
				<p class="text-justify text-dark ">
					It is the duty of the easyPR team to monitor your contents and inform you if published. But easyPR will not buy copies of newspapers for you. Pages of newspapers where your content is placed will be photocopied and presented to you as evidence of publication. 
				</p> 
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<p> &nbsp; </p>
	<p> &nbsp; </p>
{% endblock inner_content %}