{% extends 'easypr_general/base.html' %}
{% load staticfiles %}

{% block title %}Success{% endblock title %}
{% block inner_content %}
	<p> &nbsp; </p>
	<p> &nbsp; </p>
	<header id="head" class="secondary"></header>
	<div class="container">
		<div class="row">
			<article class="col-xs-12 maincontent">
				<h1> Thank You! </h1>
				<p> We are happy to have you on our platform. Kindly complete your registration by clicking on the link sent to your mailbox.</p>
			</article>
		</div>
	</div>
	<p> &nbsp; </p>
	<p> &nbsp; </p>
{% endblock inner_content %}