{% extends 'easypr_general/base.html' %}
{% load staticfiles %}
{% block title %}Find out what makes us who we are{% endblock %}
{% block inner_content %}
	<div id="about-us"></div>
	<div id="banner-area" class="banner-area" style="background-image:url({% static 'easypr/images/banner/banner4.jpg' %})">
			<div class="banner-text">
	     		<div class="container">
		        	<div class="row">
		        		<div class="col-xs-12">
		        			<div class="banner-heading">
		        				<h1 class="banner-title title-border-left">About Us</h1>
		        				<p class="banner-desc">We are a established fact that a reader  be distracted 
								by the reable content of a page when looking at its layout layout.</p>
		        			</div>
		        		</div><!-- Col end -->
		        	</div><!-- Row end -->
	       	</div><!-- Container end -->
	    	</div><!-- Banner text end -->
		</div><!-- Banner area end --> 
		<section id="main-container" class="main-container">
			<div class="container">
				<div class="row text-center">
					<h2 class="title-border">Serving Always<span>About Us</span></h2>
				</div><!--/ Title row end -->

				<div class="row">
					<div class="col-md-6">
						<h3 class="title-border-left">Company Overview</h3>
						<p><span class="dropcap primary">E</span>asyPR is an online based media content distribution platform. We basically provide access to hundreds of newspapers and online news publishing platforms across Africa. On easyPR platform, companies and individuals can place contents in the media by submitting media contents such as Press releases, news features, interviews and photo news. These contents are then rewritten by easyPR content writing team who turn the contents into publishable contents and place them in the media as earned media.  </p>
					</div>

					<div class="col-md-6">
						<h3 class="title-border-left">Mission &amp; Values</h3>
						<p>create content for this</p>
						<h4>create content for this&amp; Time</h4>
						<ul class="list-round">
							<li>Partnership Strategy tristique eleifend.</li>
							<li>Opporutnity to work with amet elit a.</li>
							<li>Saving Time to Deal with commodo iaculis.</li>
							<li>Leadership skills to manage erat volutpat.</li>
						</ul>

					</div>
				</div><!-- Content row end -->

			</div><!-- Conatiner end -->
		</section><!-- Main container end -->

		<div id="the-team"></div>
		<section id="ts-team" class="ts-team">
			<div class="container">
				<div class="row text-center">
					<h3 class="title-border">
						We Give Trusts
						<span class="title-head">Experts Team</span>
					</h3>
				</div><!--/ Title row end -->

				<div class="row">

					<div id="team-slide" class="owl-carousel owl-theme team-slide">
						<div class="item">
						   <div class="team-wrapper">
						      <div class="team-img-wrapper">
						         <img alt="" src="{% static 'easypr/images/team/team1.jpg' %}" class="img-responsive">
						      </div>
						      <div class="team-content">
						         <h3 class="ts-name">Thiemo Anton</h3>
						         <p class="ts-designation">CEO &amp; President</p>
						         <p class="ts-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
						         <div class="team-social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
						      </div>
						   </div><!--/ Team wrapper end -->
						</div><!-- Team 1 end -->

						<div class="item">
						   <div class="team-wrapper">
						      <div class="team-img-wrapper">
						         <img alt="" src="{% static 'easypr/images/team/team2.jpg' %}" class="img-responsive">
						      </div>
						      <div class="team-content">
						         <h3 class="ts-name">Aline Marjory</h3>
						         <p class="ts-designation">Head of Investment</p>
						         <p class="ts-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
						         <div class="team-social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
						      </div>
						   </div><!--/ Team wrapper end -->
						</div><!-- Team 2 end -->

						<div class="item">
						   <div class="team-wrapper">
						      <div class="team-img-wrapper">
						         <img alt="" src="{% static 'easypr/images/team/team3.jpg' %}" class="img-responsive">
						      </div>
						      <div class="team-content">
						         <h3 class="ts-name">Janetta Ronnie</h3>
						         <p class="ts-designation">Financial Advisor</p>
						         <p class="ts-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
						         <div class="team-social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
						      </div>
						   </div><!--/ Team wrapper end -->
						</div><!-- Team 3 end -->

						<div class="item">
						   <div class="team-wrapper">
						      <div class="team-img-wrapper">
						         <img alt="" src="{% static 'easypr/images/team/team4.jpg' %}" class="img-responsive">
						      </div>
						      <div class="team-content">
						         <h3 class="ts-name">Bertram Elias </h3>
						         <p class="ts-designation">Tax Advisor</p>
						         <p class="ts-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
						         <div class="team-social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
						      </div>
						   </div><!--/ Team wrapper end -->
						</div><!-- Team 4 end -->

						<div class="item">
						   <div class="team-wrapper">
						      <div class="team-img-wrapper">
						         <img alt="" src="{% static 'easypr/images/team/team5.jpg' %}" class="img-responsive">
						      </div>
						      <div class="team-content">
						         <h3 class="ts-name">Braith Jared</h3>
						         <p class="ts-designation">Director</p>
						         <p class="ts-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
						         <div class="team-social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
						      </div>
						   </div><!--/ Team wrapper end -->
						</div><!-- Team 5 end -->

						<div class="item">
						   <div class="team-wrapper">
						      <div class="team-img-wrapper">
						         <img alt="" src="{% static 'easypr/images/team/team6.jpg' %}" class="img-responsive">
						      </div>
						      <div class="team-content">
						         <h3 class="ts-name">Shaun Jarrett</h3>
						         <p class="ts-designation">Insurance Advisor</p>
						         <p class="ts-description">There are many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
						         <div class="team-social-icons">
					               <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
					               <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
					            </div><!--/ social-icons-->
						      </div>
						   </div><!--/ Team wrapper end -->
						</div><!-- Team 6 end -->

					</div><!-- Team slide end -->

				</div><!--/ Content row end -->
			</div><!--/ Container end -->
		</section><!--/ Team end -->

		<section class="call-to-action no-padding bg-overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="action-icon pull-left">
							<i class="fa fa-paper-plane-o"></i>
						</div>
						<div class="call-to-action-text">
							<h3 class="action-title">We will always help you to grow your business</h3>
							<p class="action-sub-title">Our mission is to provide you the highest quality of service and solution</p>
						</div>
						<div class="call-to-action-btn">
							<a class="btn btn-secondary" href="#">Get Quote</a>
							<a class="btn btn-primary btn-white" href="#">Read More</a>
						</div>
					</div>
				</div>
			</div><!--/ Container end -->
	   </section><!-- Call to Action end -->


	   <div id="reviews"></div>
	   <section id="testimonial" class="testimonial">
		<div class="container">
			<div class="row text-center">
				<h3 class="title-border">
					We Give Trusts
					<span class="title-head">Testimonials</span>
				</h3>
			</div><!--/ Title row end -->

			<div class="row">
				<div id="testimonial-slide" class="owl-carousel owl-theme testimonial-slide">
				  <div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip commodo.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial1.png' %}" alt="testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Deslie Telley</span>
					         	<span class="quote-subtext">Manager</span>
				         	</div>
				         </div>
				     </div>
				  </div><!--/ Item 1 end -->

				   <div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi aliquip consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial2.png' %}" alt="testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Mavin Dixon</span>
					         	<span class="quote-subtext">Director</span>
				         	</div>
				         </div>
				     </div>
				  </div><!--/ Item 2 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial3.png' %}" alt="testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Minter Puchan</span>
					         	<span class="quote-subtext">Official</span>
				         	</div>
				         </div>
				     </div>
				  	</div><!--/ Item 3 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial4.png' %}" alt="easypr-testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Tian Gray</span>
					         	<span class="quote-subtext">Accountant</span>
				         	</div>
				         </div>
				     </div>
				  	</div><!--/ Item 4 end -->

				  	<div class="item">
				     <div class="quote-item">
				         <span class="quote-text">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inci done idunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitoa tion ullamco laboris nisi ut aliquip ex ea commodo consequat.
				         </span>

				         <div class="quote-item-footer">
				         	<img class="testimonial-thumb" src="{% static 'easypr/images/clients/testimonial5.png' %}" alt="easypr-easypr-testimonial">
				         	<div class="quote-item-info">
				         		<span class="quote-author">Jeroge Tinker</span>
					         	<span class="quote-subtext">Official</span>
				         	</div>
				         </div>
				     </div>
				  	</div><!--/ Item 5 end -->
				</div><!--/ Testimonial carousel end-->
			</div><!--/ Content row end -->
		</div><!--/ Container end -->
	</section><!--/ Testimonial end -->


	   <div id="our-partners"></div>
		<section id="partners-area" class="partners-area">
			<div class="container">
				<div class="row text-center">
					<h3 class="title-border">
						We Love Clients
						<span class="title-head">Our Partners</span>
					</h3>
				</div> <!-- Title row end -->

				<div class="row">
			      <div id="partners-carousel" class="col-sm-12 owl-carousel owl-theme text-center partners">
			        <figure class="item partner-logo">
			          <a href="#">
			            <img class="img-responsive" src="{% static 'easypr/images/partners/logo1.jpg' %}" alt="client">
			          </a>
			        </figure>

			        <figure class="item partner-logo">
			          <a href="#">
			            <img class="img-responsive" src="{% static 'easypr/images/partners/logo2.jpg' %}" alt="client">
			          </a>
			        </figure>

			        <figure class="item partner-logo">
			          <a href="#">
			            <img class="img-responsive" src="{% static 'easypr/images/partners/logo3.jpg' %}" alt="client">
			          </a>
			        </figure>

			        <figure class="item partner-logo">
			          <a href="#">
			            <img class="img-responsive" src="{% static 'easypr/images/partners/logo4.jpg' %}" alt="client">
			          </a>
			        </figure>

			        <figure class="item partner-logo">
			          <a href="#">
			            <img class="img-responsive" src="{% static 'easypr/images/partners/logo5.jpg' %}" alt="client">
			          </a>
			        </figure>

			        <figure class="item partner-logo">
			          <a href="#">
			            <img class="img-responsive" src="{% static 'easypr/images/partners/logo6.jpg' %}" alt="client">
			          </a>
			        </figure>
			        
			      </div><!--/ Owl carousel end -->

		    	</div><!--/ Content row end -->
			</div><!--/ Container end -->
		</section><!--/ Partners end -->
	{% endblock inner_content %}
