{% load base_custom_filters %}

<p>Thank you for signing up on our EasyPR.ng. Click on the link below to confirm your email address to activate your account.<br><br>
	If the link below is not responding, copy the link below and paste into your browser. 
	<br/>
	<br/>
	<br><br> 
	<a href="{{ confirmation_link }}" target="_blank" style="padding:10px 35px; border: 2px solid #444444; background-color: orange; border-radius: 5px; text-decoration:none; "> Confirm Email </a>
</p><br><br>
<p>{{ confirmation_link }}</p>
           