<section id="main-container" class="main-container">
		<div class="container">
			<div class="row text-center">
				<h3 class="title-border">
					<span id="packages"></span>
					Best Offer
					<span class="title-head">Choose from any of these exciting bouquets</span>
				</h3>
			</div><!--/ Title row end -->

			<div class="row">
				<h3>Category: Press Release</h3>
				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Starter Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>59</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>professional editing</li>
				            <li>Number of media: &nbsp; <strong> 5 </strong></li>
				            <li>Save <span class="text-danger"> 20%</span></li>
				            <li>Feedback and update</li>
				            <li>Handpicked media</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Buy Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan featured">
				      <li class="plan-name">
				         <h2>
				            Basic Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>127</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Advanced Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>259</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Advanced Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>259</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

					
			</div><!--/ Content row end -->











			<div class="row">
				<h3>Category: Press Release</h3>
				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Starter Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>59</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>professional editing</li>
				            <li>Number of media: &nbsp; <strong> 5 </strong></li>
				            <li>Save <span class="text-danger"> 20%</span></li>
				            <li>Feedback and update</li>
				            <li>Handpicked media</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Buy Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan featured">
				      <li class="plan-name">
				         <h2>
				            Basic Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>127</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Advanced Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>259</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Advanced Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>259</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

					
			</div><!--/ Content row end -->






<div class="row">
				<h3>Category: Features</h3>
				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Starter Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>59</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>professional editing</li>
				            <li>Number of media: &nbsp; <strong> 5 </strong></li>
				            <li>Save <span class="text-danger"> 20%</span></li>
				            <li>Feedback and update</li>
				            <li>Handpicked media</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Buy Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan featured">
				      <li class="plan-name">
				         <h2>
				            Basic Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>127</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Advanced Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>259</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

				<div class="col-md-3">
				   <ul class="plan">
				      <li class="plan-name">
				         <h2>
				            Advanced Plan                            
				         </h2>
				      </li>
				      <li class="plan-price">
				         <h5>
				            <sub class="currency">$</sub><strong>259</strong>
				            <!-- <small>Monthly</small>                             -->
				         </h5>
				      </li>
				      <li class="plan-details">
				         <ul class="list-unstyled">
				            <li>Financial Planning</li>
				            <li>Tax Calculation</li>
				            <li>Mortgage Calculator</li>
				            <li>Insurance Consulting</li>
				            <li>Loan Advice</li>
				         </ul>
				      </li>
				      <li class="plan-action">
				         <a href="#" class="btn btn-primary">Get Now</a>                        
				      </li>
				   </ul><!-- Plan end -->
				</div><!-- Col end -->

					
			</div><!--/ Content row end -->





		</div><!-- Conatiner end -->
	</section><!-- Main container end -->
