<div class="row text-center">
  <h3> Please provide your contact information </h3>
  <p>A member of the EasyPR team will contact you to discuss your business requirements</p>
  <div class="gap-30"></div>
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <!-- <div class="" id = "yes" onclick='return select_option("need-pr-writing","yes","No");'> -->
      <input type="text" name="company_name" placeholder="Company Name" class="form-control no-border-radius" required/><br/>
      <input type="text" name="contact_name" placeholder="Contact Name" class="form-control no-border-radius" required/><br/>
      <input type="email" name="email" placeholder="Email" class="form-control no-border-radius" required/><br/>
      <input type="number" name="phone_no" placeholder="Phone" class="form-control no-border-radius" required/>
    <!-- </div> -->
  </div>
  <div class="col-md-3"></div>
</div>
