<div class="row text-center">
	<h3> Do you have the need for press release writing services? </h3>
	<div class="gap-10"></div>
	<div class="col-md-3"></div>
	<div class="col-md-3 text-center">
		<div class="custom-select-box need-pr-writing" id = "yes" onclick='return select_option("need-pr-writing","yes","No");'>
			<input type="checkbox" class="hidden" name="need_pr_writing" value="yes" id="select_yes"/>
			<div>
				<strong>Yes</strong>
			</div>
		</div>
	</div>
	<div class="col-md-3 text-center">
		<div class="custom-select-box need-pr-writing" id = "no" onclick='return select_option("need-pr-writing","no","No");'>
			<input type="checkbox" class="hidden" name="need_pr_writing" value="no" id="select_no"/>
			<div>
				<strong>NO</strong>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="gap-30"></div>

<div class="row text-center">
	<h3> Do you have the need for media pitching services? </h3>
	<div class="gap-10"></div>
	<div class="col-md-3"></div>
	<div class="col-md-3 text-center">
		<div class="custom-select-box need-media-pitching" id = "true" onclick='return select_option("need-media-pitching","true","No");'>
			<input type="checkbox" class="hidden" name="need_media_pitching" value="yes" id="select_true"/>
			<div>
				<strong>Yes</strong>
			</div>
		</div>
	</div>
	<div class="col-md-3 text-center">
		<div class="custom-select-box need-media-pitching" id = "false" onclick='return select_option("need-media-pitching","false","No");'>
			<input type="checkbox" class="hidden" name="need_media_pitching" value="no" id="select_false"/>
			<div>
				<strong>NO</strong>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>

<div class="gap-30"></div>
<div class="row text-center">
	<h3> Do you have a centralized Content area or Newsroom for your company’s Media Updates? </h3>
	<div class="gap-10"></div>
	<div class="col-md-3"></div>
	<div class="col-md-3 text-center">
		<div class="custom-select-box has-newsroom" id = "we_do" onclick='return select_option("has-newsroom","we_do","No");'>
			<input type="checkbox" class="hidden" name="has_newsroom" value="yes" id="select_we_do"/>
			<div>
				<strong>Yes</strong>
			</div>
		</div>
	</div>
	<div class="col-md-3 text-center">
		<div class="custom-select-box has-newsroom" id = "we_dont" onclick='return select_option("has-newsroom","we_dont","No");'>
			<input type="checkbox" class="hidden" name="has_newsroom" value="no" id="select_we_dont"/>
			<div>
				<strong>NO</strong>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>